OPENAI_API_KEY=""
TELEGRAM_BOT_TOKEN=""
GPT_MODEL="gpt-4o"
DALL_E_MODEL="dall-e-3"
SYSTEM_PROMPT="You are a helpful assistant."
IMAGE_PRICE="10"
PROXY_HOST="a2ce9711afeda4c94866a4c9cfe60978-a2e1c4e6521be109.elb.eu-central-1.amazonaws.com"
PROXY_PORT="3128"
PROXY_USER="mossad"
PROXY_MODE="disabled" # enabled or disabled
PROXY_PASS=""
